<p-card styleClass="p-card-shadow" class="m-3 block" header="Contact Us">
  <div style="position: relative;">
    <div appScrollSection="three" style="position: absolute; top: -245px; left: 0"></div>
  </div>
  <div class="grid">
    <div class="col-12">
      <p class="text-700 line-height-3 pr-0 lg:pr-5">{{contactDescription}}</p>
    </div>
    <div class="col-12 md:col-6 lg:col-6">
      <div class="flex align-items-start">
        <div>
          <span class="flex align-items-center justify-content-center surface-100 border-round mr-3"
            style="height: 3rem; width: 3rem">
            <i class="pi pi-phone text-900 text-4xl"></i>
          </span>
        </div>
        <div>
          <span class="text-2xl text-900 mb-2 font-medium">{{contact1.name}}</span>
          <p class="text-700 line-height-3"><a href="tel:{{contact1.phone}}">{{contact1.phone}}</a></p>
        </div>
      </div>
    </div>
    <div class="col-12 md:col-6 lg:col-6">
      <div class="flex align-items-start">
        <div>
          <span class="flex align-items-center justify-content-center surface-100 border-round mr-3"
            style="height: 3rem; width: 3rem">
            <i class="pi pi-inbox text-900 text-4xl"></i>
          </span>
        </div>
        <div>
          <span class="text-2xl text-900 mb-2 font-medium">Email</span>
          <p class="text-700 line-height-3"><a href="mailto:{{contact1.email}}">{{contact1.email}}</a></p>
        </div>
      </div>
    </div>
    <div class="col-12 md:col-6 lg:col-6">
      <div class="flex align-items-start">
        <div>
          <span class="flex align-items-center justify-content-center surface-100 border-round mr-3"
            style="height: 3rem; width: 3rem">
            <i class="pi pi-phone text-900 text-4xl"></i>
          </span>
        </div>
        <div>
          <span class="text-2xl text-900 mb-2 font-medium">{{contact2.name}}</span>
          <p class="text-700 line-height-3"><a href="tel:{{contact2.phone}}">{{contact2.phone}}</a></p>
        </div>
      </div>
    </div>
  </div>
</p-card>
