<div class="grid grid-nogutter surface-section text-800" appScrollSection="one">
  <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center">
    <section>
      <span class="block text-6xl font-bold mb-1">{{headerText.one}}</span>
      <div class="text-6xl txt-primary font-bold mb-3">{{headerText.two}}</div>
      <p class="mt-0 mb-4 text-700 line-height-3">{{headerText.three}}</p>
    </section>
  </div>
  <div class="col-12 md:col-6 overflow-hidden">
    <img src="{{headerImg}}" alt="Image" class="hidden md:ml-auto md:block md:h-full lg:block xl:block"
      style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)">
  </div>
</div>