<!-- <mat-toolbar color="primary" class="sticky-bar">
  <span>Blue Ocean Properties</span>
  <span class="bar-spacer"></span>
  <nav>
    <button mat-button color="accent" appScrollAnchor="one">One</button>
    <button mat-button color="accent" appScrollAnchor="two">Two</button>
    <button mat-button color="accent" appScrollAnchor="three">Three</button>
  </nav>
</mat-toolbar> -->

<p-toolbar styleClass="secondary-toolbar" class="sticky-bar">
    <div class="p-toolbar-group-left">
      <p-image src="../../../assets/logos/c6a21e_be6cc4d640761f3a67ccfe0b9d3d2cb4.webp" alt="Image" width="250"></p-image>
    </div>
    <div class="p-toolbar-group-right">
      <nav>
        <button pButton class="p-button-text" appScrollAnchor="one" label="About"></button>
        <button pButton class="p-button-text" appScrollAnchor="two" label="Projects"></button>
        <button pButton class="p-button-text" appScrollAnchor="three" label="Contact"></button>
      </nav>
    </div>
</p-toolbar>