// .bar-spacer {
//   flex: 1 1 auto;
// }
.sticky-bar {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1000;
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
}

:host ::ng-deep .secondary-toolbar.p-toolbar {
  background: var(--cyan-800);
  border: 0;
  border-radius: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.p-button.p-button-text {
  color: white;
  font-size: 1.25rem;
}

.p-button.p-button-text:enabled:hover {
  color: white;
  background-color: #024955;
}